*{
    margin: 0;
    padding: 0;
}
body{
    background: #1ed695;
}
.logo{
    color: white;
    font-size: 35px;
}
.content h1{
    font-size: 50px;
}
.content p{
    padding-top: 25px;
    /* padding-left: 20px; */
    font-size: 25px;
}
.content{
    padding-left: 20px;
    padding-top: 50px;
    font-size: larger;
    width: 90vw;
}
.logo a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    height: 36px;
}
ul{
    display: flex;
    list-style: none;
    margin-top: 7px;
}
.btn{
    color: white;
    display: none;
}
ul li a{
    /* position: fixed; */
    text-decoration: none;
    margin: 123px;
    font-size: 25px;
    color: white;
}
ul li a:hover{
    background: white;
    border: 2px solid white;
    color: black;
    border-radius: 4px;
}
#click{
    display: none;
}
@media (max-width:700px) {
    nav ul{
        position: fixed;
        top: 29px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 40px;
        transition: all 0.5s ease;
    }
    li{
        margin-top: 40px;
    }
    .btn{
        display: block;
        margin-top: 6px;
        font-size: 25px;
        margin-left: 220px;
    }
    #click:checked~ul{
        left: 0%;
    }
    #click{
        display: none;
    }
    .content h1{
        font-size: 30px;
        text-decoration: underline;
    }
    .content p{
        font-size: 20px;
    }
}