*{
    margin: 0;
    padding: 0;
}
body{
	background: #E55D87;  /* fallback for old browsers */
	background: -webkit-linear-gradient(-45deg, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-45deg, #5FC3E4, #3ca55c
	, #E55D87, #e5e5be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	height: 100vh;
	position: relative;
	width: 100%;
	animation: gradient 10s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo{
    color: white;
    font-size: 35px;
}
.logo a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    height: 36px;
}
h1{
    padding-top: 50px;
    /* display: flex; */
    font-size: 50px;
}
.shift{
    padding-left: 20px;
}
ul{
    display: flex;
    list-style: none;
    margin-top: 7px;
}
.btn{
    color: white;
    display: none;
}
ul li a{
    text-decoration: none;
    margin:123px;
    font-size: 25px;
    color: white;
}
ul li a:hover{
    background: white;
    border: 2px solid white;
    color: black;
    border-radius: 4px;
}
.content{
    padding-top: 50px;
    display: flex;
}
#click{
    display: none;
}
#images{
    width: 80px;
    height: auto;
    display: block;
}
#images1{
    padding-left: 10px;
    width: 100px;
    height: 100px;
    display: block;
}
#images2{
    padding-left: 10px;
    width: 80px;
    height: 80px;
    /* display: block; */
}
#profile{
    width: 300px;
    height: auto;
}
@media (max-width:700px) {
    nav ul{
        position: fixed;
        top: 29px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 40px;
        transition: all 0.5s ease;
    }
    li{
        margin-top: 40px;
    }
    .btn{
        display: block;
        margin-top: 6px;
        font-size: 25px;
        margin-left: 220px;
    }
    #click:checked~ul{
        left: 0%;
    }
    #click{
        display: none;
    }
    .content{
        display: block;
    }
    #images{
        padding-left: 100px;
    }
    #images1{
        padding-left: 90px;
    }
    #images2{
        padding-left: 100px;
    }
}
